# Disciplina: Ciência de Dados (DCA-0131)
Prof. Luiz Affonso Guedes

Departamento de Engenharia de Computação e Automação - DCA

UFRN -  2022

*OBS: Favor fazer cópia do notebook antes de alterá-lo.

# Aula 1- Introdução à Linguagem Python

Objetivo: apresentação das funcionalidades básicas da linguagem Python


Conteúdo:
- Caracterização da Linguagem Python
- Vantagens
- Entrada e saída de dados
- Variáveis básicas
- Cálculos básicos
- Variável tipo lista
- Funções e Classes
- Importação de pacotes

- Python é uma linguagem de propósito geral - às vezes referida como utilitária - que é projetada para ser simples de ler e escrever. O seu objetivo é ser uma linguagem simples, porém completa.
- É uma linguagem interpretada não tipada.
- É uma liguagem estruturada, mas possui suporte a orientação a objetos.

Uma introdução aos conceitos básicos de Python. Saiba como usar o Python de forma interativa e através de um script. Crie suas primeiras variáveis e familiarize-se com os tipos básicos de dados do Python.

## Entrada e Saída de Dados em Python

print (......)

input()

In [ ]:
# Comentário em Python
# Imprimir mensagem em Python
print("Alô, mundo!")

Alô, mundo!

In [ ]:
print("Quem é esta aluna que acabou de chegar?")
print("É a Juliana.")

Quem é esta aluna que acabou de chegar?
É a Juliana.

In [ ]:
print("Qual é o seu nome? ")
nome = input()
print("Olá " + nome + ", tudo bem?")

Qual é o seu nome?
thiago
Olá thiago, tudo bem?

### Crie um programa que:
- pegunte o nome da pessoa e sua profissão.

- responda com uma mensagem positiva.

Exemplo: João, a profissão de Professor é muito importante

In [ ]:
# Escreva o codigo aqui:

print("Qual é o seu nome?")
nome = input()
print("Qual é a sua profissão?")
profissao = input()
print(nome + ", a tua profissão de " + profissao + " é muito importante")

### Exercício 01: 
 Escreva um programa baseado na anterior que pergunte o nome e sobrenome do usário, além do seu hobby. Então responda com um comentário positivo.

In [ ]:
print('qual é o seu nome e sobrenome?')
nome = input()
print('qual é o seu hobby')
hobby = input()
print('legal '+ nome + " ,seu hobby é mt legal " )

qual é o seu nome e sobrenome?
thiago oliveira
qual é o seu hobby
futebol
legal thiago oliveira seu hobby é mt legal

### Usando Python com uma calculadora
- basta escrever as operações.

In [ ]:
a = 2
a

2

In [ ]:
a = 2/3
a

0.6666666666666666

In [ ]:
print(5 / 8)
print(3 * 5)
print(7 + 10)
5 -2

0.625
15
17

3

In [ ]:
(4+2*2)/8

1.0

## Operadores Lógicos:
    - AND --> &  and
    - OR --> | or
    - not

In [ ]:
# Exemplo de uso de operadores lógicos

a = True
b = False
print(a and b)
print (a & b)
print (a or b)
print (a | b)
print(not a)

False
False
True
True
False

In [ ]:
# Outro exemplo
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# Outro exemplo
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not True)
print( not False)
print(not not False)
print(not not not False)
print(not not not not False)
print(not not not not not False)

False
True
False
True
False
True

In [ ]:
a= True
b = False
c = True

resposta = (a or b) and c
print(resposta)

True

In [ ]:
# Desafio
a= True
b = False
c = True
d= True
e = True
resposta = (a or b) and ((c and d) or e)
print(resposta)

True

In [ ]:
# Exemplo de uso de operadores lógicos
# Escolha do namorado(a) ideal

nome = "João"
#nome = "Maria"
alto = True
bonito = True
malhado = True
rico = True 
divertido = True
careca = True

namorado_ideal = alto and bonito and malhado and rico and divertido and not careca

print(nome, "é um namorado ideal?")
print("resposta: ", namorado_ideal)

nome = "Maria"
alta = True
bonita = True
malhada = True
rica = True 
divertida = True
careca = False  

namorado_possivel = rica and bonita and not careca and divertida and malhada
print(nome, "é um namorado possível?")
print("resposta: ", namorado_possivel)

Maria é um namorado ideal?
resposta:  False
Maria é um namorado possível?
resposta:  True

In [ ]:
# Exemplo de uso do print - outra maneira
print ("a = %d b = %d" % (10 ,20))
print("alô, mundo", "Estou estudando Python", "tenho", 24, "anos")

a = 10 b = 20
alô, mundo Estou estudando Python tenho 24 anos

O Python é perfeitamente adequado para fazer cálculos básicos. Além da adição, subtração, multiplicação e divisão, também há suporte para operações mais avançadas, tais como:
- Exponenciação: **. 
   - Este operador eleva o número à esquerda para o poder do número à sua direita. Por exemplo, 4 ** 2 dará 16.
- Modulo:%. Este operador retorna o restante da divisão do número à esquerda pelo número à direita. Por exemplo, 18% 7 é igual a 4.
- Divisão inteira: //
   - 3/2, dará 1.

In [ ]:
# Exemplo de uso da Exponenciação
print(4 ** 2)



# Exemplo de Divisão Inteira
print((19+1) // 4)

# Exemplo de resto da divisão
print((19+1) % 4)

16
5
0

In [ ]:
# Exemplo de uso de operadores
print("Se você tomou um empréstimo de R$1.000,00 com taxa de juros de 20% ao ano, após 04 anos qual é o valor de sua dívida?")
emprestimo = 1000.0
taxa = 0.2
anos = 4
divida = emprestimo *(1+taxa)**anos
print("Minha dívida é de ", divida, "reais, depois de ", anos,"anos." )

Se você tomou um empréstimo de R$1.000,00 com taxa de juros de 20% ao ano, após 04 anos qual é o valor de sua dívida?
Minha dívida é de  2073.6 reais, depois de  4 anos.

In [ ]:
# Exercício 02: escreva o código aqui
# O aluno João Medeiros, aplicou R$2.0000,00 na bolsa de valores durante 03 anos.
# No primeiro ano ele teve um lucro de 20%.
# No segundo ano ele teve um prejuízo de 8%
# No terceiro ano ele teve um lucro de 4%
# Calcule o valor em reais que ele obteve no final do terceiro ano.


valor_inicial = 2000
valor_ano1 = (valor_inicial * 0.20) + valor_inicial
print(valor_ano1)
valor_ano2 = valor_ano1 - (valor_ano1* 0.08)
print(valor_ano2) 
valor_ano3 = valor_ano2 + (valor_ano2* 0.04) 
print(valor_ano3)
lucro = valor_ano3 - valor_inicial
print(lucro)

2400.0
2208.0
2296.32
296.32000000000016

## Variáveis e Tipos em Python
- Em Python, uma variável permite que você se refira a um valor com um nome. Para atribuir um valor a  uma variável use =, como este exemplo:

x = 5

Agora você pode usar o nome dessa variável, x, em vez do valor real, 5.

Lembre-se, = em Python significa atribuição, não igualdade!

In [ ]:
x=5
print(x)
y = 3
print(y)

5
3

In [ ]:
x = 5
print(x)
X = 10
print(X)
valor = 10
Valor = 11
vAlor = 12
VALOR = 13
print(valor,"\n",Valor, "\n",vAlor, "\n", VALOR)

5
10
10
 11
 12
 13

In [ ]:
# Diferença entre atribuição e comparação 
x = 6 +1
print( x == 6)

False

In [ ]:
#Exemplo - Diferença entre maiúsculo e minúsculo
x = 1
X = 2

print("Python diferencia entre letras maiúsculas e minúsculas?")
print("Qual é o valor da variável x?")
print("A variável x é igual a ", x)
print("Qual é o valor da variável X?")
print("A variável X é igual a ", X)

Python diferencia entre letras maiúsculas e minúsculas?
Qual é o valor da variável x?
A variável x é igual a  1
Qual é o valor da variável X?
A variável X é igual a  2

In [ ]:
# Exercício 03
print("Reescreva o Exercício 02 utilizando variáveis")
emprestimos = 2000
taxa = 0.5
anos = 3
dívida = emprestimo *(1+taxa)**anos
print(divida)

Reescreva o Exercício 02 utilizando variáveis
2073.6

In [ ]:
# Exercício 04
# Verifique a fómula do IMC na Internet
# calculado dividindo o peso (em kg) pela altura ao quadrado (em metros).

print("Calcule o Índice de Massa Copórea (IMC)")

# Entre com o valor do pese do usuário
peso = float(input("digite o peso do usuario em KG: "))

# Entre com o valor da altura em metros do usuário

altura = float(input("digite a altura do usuario em metros: "))

# cálculo do IMC
IMC = (peso/ (altura**2))

print("O Seu IMC é: ", IMC)

Calcule o Índice de Massa Copórea (IMC)
digite o peso do usuario em KG: 64
digite a altura do usuario em metros: 1.68
O Seu IMC é:  22.67573696145125

### Tipos de vaiáveis em Python

Os tipos das variáveis são definidos dinamicamente em Python.
- Tipos Básicos em Python
    - int --> Inteiro
    - flot --> ponto flutuante
    - str --> String
    - bool --> Booleano (True, False)

In [ ]:
# Exercício 05
Nome_aluno = "Isabel da Silva"
nota = 9.8
bom_aluno = True
idade = 21 

print("Escreva no console os valores dessas variáveis")
# escreva o restante do programa ....

print("A aluna ", Nome_aluno," tem ", idade,"de idade e tirou ", nota, "em programação Python.\n")

Escreva no console os valores dessas variáveis
A aluna  Isabel da Silva  tem  21 de idade e tirou  9.8 em programação Python.

In [ ]:
# Exercício 06
# Analise a resposta desse programa e tire suas conclusões
print("O que ocorre se se somar um int com um float?")
a = 2
b = 1.1
c = a+b
print(c)

O que ocorre se se somar um int com um float?
3.1

In [ ]:
# Exercício 07
# Analise a resposta desse programa e tire suas conclusões
print("O que ocorre se se somar duas strings?")
Nome = "Nathalie" + " " + "Rose"
Sobrenome = "Araújo"
Nome_Completo = Nome + " " + Sobrenome
print(Nome_Completo)
Nome_Completo

O que ocorre se se somar duas strings?
Nathalie Rose Araújo

'Nathalie Rose Araújo'

In [ ]:
# Exercício 08
# Analise a resposta desse programa e tire suas conclusões

print("É possível somar um int com um str?")
Nome = "Maria"
Idade = 18
Nome + Idade

É possível somar um int com um str?

TypeError: ignored

In [ ]:
# Exercício 09
# Use a função type(variavel) para obter o tipo da variável.
x1 = 1
x2 = "aeiou"
x3 = False
print(type(x1))
print(type(x2))
print(type(x3))

<class 'int'>
<class 'str'>
<class 'bool'>

### Dica:
Para se converter tipos em outros, em Python se utiliza as seguintes funções:
- str(variavel) <-- converte variavel para string
- int(variavel) <-- converte variavel para inteiro
- float(variavel) <-- converte variavel para ponto flutuante
- bool((variavel) <-- converte variavel para booleano

In [ ]:
# Exercício 10
# Escreva um programa que converta uma variável "idade" que é inteiro  em string.
Idade = 22
idade = str(Idade)
Nome = "João "
# A saída de ser --> João tem 22 anos.
print(Nome + "tem " + idade + " anos")

João tem 22 anos

### Pergunta:
Quando se lê uma variável via teclado, qual é o seu tipo?

In [ ]:
# Exemplo
# Analise a resposta desse programa e tire suas conclusões

print("entre com uma dado: ")
variavel = input()
print(variavel)
type(variavel)

entre com uma dado:
5
5

str

In [ ]:
# convertendo a variavel para inteiro

variavel = int(variavel)
type(variavel)

int

### Programa desafio 1:

Escreva um programa que solicite por antrada de teclado os seguintes valores de variáveis:
- nome
- altura
-peso

Entao, forneça como saída o nome e o IMC correspondente.

Exemplo:
Maria seu IMC é de 1.62

In [ ]:
# Programa Desafio 1
# Escreva o código aqui código

print("Por obséquio, forneça o seu nome? ")
nome = 'Thiago'

print("Se não for inoportuno, foneça o seu peso? Prometo menter essa informação em sigilo")
peso = 64


print("Qual é a sua altura? ")
altura = 1.68

# Cálculo do IMC
IMC = peso /altura**2

# Saída do programa
print(nome + " o seu IMC é ", IMC)

Por obséquio, forneça o seu nome?
Se não for inoportuno, foneça o seu peso? Prometo menter essa informação em sigilo
Qual é a sua altura?
Thiago o seu IMC é  22.67573696145125

In [ ]:
# Curiosidade - execute este programa
"Eu sou " + ("ga")*3 + "go"

'Eu sou gagagago'

In [ ]:
# Curiosidade
print("Teste essas opções abaixo que estão em comentário")
#False + True
#True + True
#True * 10
#False - True

Teste essas opções abaixo que estão em comentário

1

### Variável do tipo list
- tipo complexo, que representa uma lista de outras variáveis, não necessariamente de mesmo tipo.
- As variáveis podem ser listas. No caso, teremos listas de listas

Exemplo:

lista1 = [1,2,3]

lista2 = ["Maria", "1.66", 22, True]  #[Nome, Altura, Idade, Boa_estudante]

In [ ]:
lista2 = ["Maria", "1.66", 22, True]
lista2

['Maria', '1.66', 22, True]

In [ ]:
# Lista com variáveis de mesmo tipo
# Áreas dos cômodos de uma casa (em metros quadrados)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Criação da lista areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(type(areas))
print(areas)

<class 'list'>
[11.25, 18.0, 20.0, 10.75, 9.5]

In [ ]:
# Lista com variáveis de diferentes tipos
# Áreas dos cômodos de uma casa (em metros quadrados)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Criação da lista areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
# Lista de Lista
# Áreas dos cômodos de uma casa (em metro quadrado)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# informação sobre metragem da casa como lista de lista
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]
         ]

# Print a variaável house

print(house)

# Print o tipo da variável house

print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [ ]:
# Exercício 11
# Crie 01 lista Familia, que é composta por 04 listas: Pai, Mae, Filho, Filha.
# Essas listas têm as variáveis Nome (str), Idade (int), Peso (float), Altura (float)
#sexo (bool) True-feminino, False-Masculino
Pai = ["João", 60, 65, 1.68, 'Masculino']
Mae = ["Maria",57, 60, 1.60, 'Feminino']
Filho = ["Thiago", 25, 64, 1.68, 'Masculino']
Filha = ["Thais", 30, 55, 1.58, 'Feminino']

Familia = [Mae, Pai,Filho,Filha]
print(Familia)

[['Maria', 57, 60, 1.6, 'Feminino'], ['João', 60, 65, 1.68, 'Masculino'], ['Thiago', 25, 64, 1.68, 'Masculino'], ['Thais', 30, 55, 1.58, 'Feminino']]

In [ ]:
# Execute esse prgrama e analise a sua resposta.

print(Pai[0])
print(Filha[2])
print(Familia[0])
print(Familia[0][1])
print(Familia[1][3])

Nomes = [Familia[0][0], Familia[1][0], Familia[2][0],Familia[3][0]]
Sexos = [Familia[0][-1], Familia[1][-1], Familia[2][-1],Familia[3][-1]]
print(Nomes)
print(Sexos)
Soma_da_Idades = Familia[0][1] + Familia[1][1] + Familia[2][1] + Familia[3][1]
print(Soma_da_Idades)

João
55
['Maria', 57, 60, 1.6, 'Feminino']
57
1.68
['Maria', 'João', 'Thiago', 'Thais']
['Feminino', 'Masculino', 'Masculino', 'Feminino']
172

Explicação - Acessado elementos de uma lista
- list[n]  --> retorna a variável da posição n. O primeiro índice é o ZERO
- list[n1:n2] --> retorna uma sub-lista da posição n1 até a posição n2-1
- list[:n] --> retorna uma sub-lista da posição ZERO até n-1
- list[n:] --> retorna uma sub-lista da posição n até o final da lista

In [ ]:
# Exemplos de acesso a elementos de listas
# Rode o programa e analise as suas respostas.
lista = [0,1,2,3,4,5]
print(lista[0])
print(lista[2])
#print(lista[7])
print(lista[-1])
print(lista[-2])
print(lista[1:3])
print(lista[1:4])
print(lista[1:2])
print(lista[:3])
print(lista[:])
print(lista[-5:3])
print(lista[-5:1])

0
2
5
4
[1, 2]
[1, 2, 3]
[1]
[0, 1, 2]
[0, 1, 2, 3, 4, 5]
[1, 2]
[]

In [ ]:
#Exercício 12

# Criação da lista areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print o segundo elemento da lista
print(areas[1])

# Print o valor do último elemnto da lista
print(areas[-1])

# Print o valor da área do living room
print(areas[5])

# Print o valor da área total da casa 
print(areas[1]+areas[3]+areas[5]+areas[7]+areas[9])

11.25
9.5
20.0
69.5

In [ ]:
# Dica
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
print(x[2][0])
print(x[2][:2])
print(x[0][-1],x[1][:2])
x[0][2]+x[0][0]+x[1][0]+x[1][1]

g
['g', 'h']
c ['d', 'e']

'cade'

In [ ]:
#Exercício 13 - 
# Dado o Exercício 11.
# Crie uma lista denominada de Nomes que contenha os nomes do Pai, Mae, Filho e Filha da lista Familia

nomes = [Familia[0][0], Familia[1][0], Familia[2][0], Familia[3][0] ]
nomes

['Maria', 'João', 'Thiago', 'Thais']

In [ ]:
#Exercício 14 - 
# Dado o Exercício 11.
# Crie uma lista denominada de Filhos que contenha apenas as informações de Filho e Filha da lista Familia
filhos = [Familia[2][1:], Familia[3][1:]]
filhos

[[25, 64, 1.68, 'Masculino'], [30, 55, 1.58, 'Feminino']]

In [ ]:
#Exercício 15 - 
# Dado o Exercício 11.
# Calcule IMC das pessoas da lista Familia.
# Armazene esses valores numa lista denominada de valor_IMC
#????

# IMC = PESO/ALTURA²

contador = 0
valor_IMC = []
while contador < 4:
    IMC = Familia[contador][2]/(Familia[contador][3]**2)
    valor_IMC.append(IMC)
    contador += 1

print(valor_IMC)

[23.437499999999996, 23.030045351473927, 22.67573696145125, 22.031725684986377]

Modificar elementos de uma lista
- lista[elemento] = novo_valor

Incluir elementos em lista (concatenar duas ou mais listas)
- lista3 = lista1 + lista3

Remover Elementos em Lista
- del(lista[elemento])

In [ ]:
# Exemplo com listas
lista1 = [1,1,1]
lista2 =[2,2,2]
lista3 = lista1 + lista2
lista3

[1, 1, 1, 2, 2, 2]

In [ ]:
# Exemplo com lista - continuação
print("lista3: ", lista3)
print("lista3[2]: ", lista3[2])

# remover um elemento da lista3
del(lista3[2:4])
print("lista3: ", lista3)
print("lista3[2]: ", lista3[2])

lista3:  [1, 1, 1, 2, 2, 2]
lista3[2]:  1
lista3:  [1, 1, 2, 2]
lista3[2]:  2

In [ ]:
# Exercício 16
# Remova pela ordem a string "poolhouse" e o valor de sua área
areas = ["hallway", 11.25, "kitchen", 18.0,
        "child zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
del(areas[10:12])
#del(areas[10])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'child zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

In [ ]:
# Exercício 17 
# Dado o Exercício 11
# Inclua mais um filho, denominado Filho2 na lista Familia

filho2 = ['bisneto', 4, 35, 1.40, 'Masculino']
Familia.append(filho2)

print(Familia)

[['Maria', 57, 60, 1.6, 'Feminino'], ['João', 60, 65, 1.68, 'Masculino'], ['Thiago', 25, 64, 1.68, 'Masculino'], ['Thais', 30, 55, 1.58, 'Feminino'], ['bisneto', 4, 35, 1.4, 'Masculino']]

In [ ]:
# Exercício 18 
# Dado o Exercício 11
# Remova Filho da lista Familia
# O que ocorre com os índices da lista Familia?
del(Familia[2])
print(Familia)

[['Maria', 57, 60, 1.6, 'Feminino'], ['João', 60, 65, 1.68, 'Masculino'], ['Thais', 30, 55, 1.58, 'Feminino'], ['bisneto', 4, 35, 1.4, 'Masculino']]

In [ ]:
#Exercício 19 
# Dado o Exercício 11.
# Calcule IMC das pessoas da lista Familia, e inclua essa informação na lista Família
#????

contador = 0
while contador < 4:
    IMC = Familia[contador][2]/(Familia[contador][3]**2)
    Familia[contador].append(IMC)
    contador += 1

print(Familia)

[['Maria', 57, 60, 1.6, 'Feminino', 23.437499999999996], ['João', 60, 65, 1.68, 'Masculino', 23.030045351473927], ['Thais', 30, 55, 1.58, 'Feminino', 22.031725684986377], ['bisneto', 4, 35, 1.4, 'Masculino', 17.85714285714286]]

### Atenção
 - Há difença entre atribuição e cópia de listas.

In [ ]:
# Cópia de lista: diferença entre atribuição e cópia de listas
# Criação de lista
# Rode a analise os resultados deste programa

lista1 = [11.25, 18.0, 20.0, 10.75, 9.50]

# Atribuição e copia de listas
#lista2 = lista1
lista2 = list(lista1)
#lista2 = lista1[:]

# Modificação na lista
lista2[0] = 5.0

# Print lista1
print(lista1, lista2)

[11.25, 18.0, 20.0, 10.75, 9.5] [5.0, 18.0, 20.0, 10.75, 9.5]

## Usando Função em Python
- Há diversas funções úteis já disponíveis em Python
    - type(variavel)
    - print(variavel)
    - str(variavel); float(variavel); ...
    - max(variavel)
    - min(variavel)
    - mean(variavel)
    - round(valor,precisao), round(valor)
    - complex(valor)
    - sorted(iterable, key, reverse)
    - help(funcao)

In [ ]:
# Exemplos de uso de funções
# Criar variáveis var1 e var2
var1 = [1, 2, 3, 4]
var2 = True

# Print tipo (type) de var1
print(type(var1))

# Print o tamanho de var1
print(len(var1))

# Print o máximo var1
print(max(var1))

# Print o mínimo var1
print(min(var1))

# Print a soma var1
print(sum(var1))

# Print média var1
print(sum(var1)/len(var1))

# Converter var2 para um inteiro: out2
out2 = int(var2)

<class 'list'>
4
4
1
10
2.5

In [ ]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [ ]:
?max

In [ ]:
# Teste essas opções e conclua com funciona o número complexo
complex()
complex(1)
complex(1,2)

(1+2j)

In [ ]:
# Execute o comando help()
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
# Exemplo
# Criar duas listas: first e second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Unir as duas listas na lista full
full = first + second
print(full)

# Ordenar a lista full em ordem decrscente e armazenar o resultado na lista full_sorted
full_sorted = sorted(full, reverse = True)
#full_sorted = sorted(full)

# Print a lista full_sorted
print(full_sorted)

# Investigue o que ocorre se não for utilizado o parâmetro reserve

# Qual é a utilidade do parâmetro key?

[11.25, 18.0, 20.0, 10.75, 9.5]
[20.0, 18.0, 11.25, 10.75, 9.5]

### Lembrete:
Em Python, todos os tipos de variáveis são classe.
- As variáveis são objetos de classes específicas

Assim, todas as variáveis possuem métodos específicos.
- Os métodos são funções pertencentes a objetos

Para acessar métodos, devemos utilizar a seguinte sintase:
- variavel.metodo(parametros)

Métodos da classe String

- As strings possuem com um monte de métodos específicos.
- Para verificar mais detalhadamente, você sempre pode digitar help (str) no IPython Shell.

In [ ]:
# Exemplo
# string room
room = "poolhouse"

# Use o método upper() sobre a string room. Armazene a resposta em room_up
room_up = room.upper()

# Print as strings room e room_up
print(room)
print(room_up)

# Print o número de ocorrência da letra "o" na string room
print(room.count("o"))

poolhouse
POOLHOUSE
3

### Exemplos de alguns métodos de Listas
- lista.index(parametro)
- lista(count(parametro))
- append()
- remove(), remove o primeiro elemento da lista que casa com o parâmetro
- reversed(), reverte a ordem dos elementos

In [ ]:
# Exemplo de uso de operação com listas
frase = "socorram me subi no onibus em marrocos"
print(frase[::-1])
frase1 = "o po de cocaina mata maniaco cedo po"
print(frase1[::-1])

socorram me subino on ibus em marrocos
op odec ocainam atam aniacoc ed op o

In [ ]:
# Exemplo de operação com listas
# Criar a lista areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print o índice do elemento 20.0 na lista
print(areas.index(20.0))

# Print a quantidade de vezes que 14.5 apareace em areas

print(areas.count(14.5))

2
0

In [ ]:
# Exercício 19
#Criar a lista areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use o método append duas vezes para incluir os valores 24.5 e 15.45 no final da lista areas

areas.append(24.5)
areas.append(15.45)

# Print a lista areas
print(areas)

# Invera a ordem dos elementos na lista areas via o método reserve
areas.reverse()

# Print a lista areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

## Módulos em Python
- Modulos agrupam funções, métodos e tipos específicos

Pacotes são implementações Módulos disponíveis em Python 
- Há centenas de pacotes disponíveis em Python.

Importação de Pacotes em Python (importa todo o pacote)
- import pacote_desejado
- import math

Para usar funções do pacotes:
- pacote_desejado.metodo_desejado(parametros)
- pacote_desejado.variavel_desejada
- math.pi

Para importar apenas um módulo específico de um pacote, utilizamos:
- from pacote_desejado import modulo_desejado

Exemplo: importa só o pacote sqrt do pacote math

- from math import sqrt    
- print(sqrt(25))

Ao utilizar "from package import item", o item pode ser um subpacote, submódulo, classe, função ou variável.

In [ ]:
# Exemplo
# Importar pacote math 
import math

# Definição de raio
r = 0.43


# Cálculo de C
C = 2 * r * math.pi

# Cálculo de A
A = math.pi * r ** 2

# print valores da Circunferência e Área
print("Circunferência: ", (C))
print("Área: " , A)

Circunferência:  2.701769682087222
Área:  0.5808804816487527

In [ ]:
dir(math)

In [ ]:
# Exemplo de uso do pacote Math
# Definição do raio
r = 192500

# Importar apenas a função radians do pacote math
from math import radians 

# Calcular o arco correspondente a 12 graus.

arco = r* radians(12)

# Print o valor de arco
print(arco)

40317.10572106901

In [ ]:
# Exemplo de uso do pacote Math
# Definição do raio
r = 192500

# Importar apenas a função radians do pacote math, redefinindo o nome da função
from math import radians as rd

# Calcular o arco correspondente a 12 graus.

arco = r* rd(12)

# Print o valor de arco
print(arco)

40317.10572106901

Alguns exemplos de funções matemáticas:
- import math

In [ ]:
#Exemplos de Uso de funções matemáticas do pacote Math
import math
print(math.exp(1.0))
print(math.pi)
print(math.e)
print(math.cos( math.pi))
teta = 0.7
y = math.sin(teta) ** 2 + math.cos(teta) ** 2
print(y)

2.718281828459045
3.141592653589793
2.718281828459045
-1.0
1.0

##  Comando de Controle de Fluxo
- If

    if (condição_lógica):
         comando_1
         comando_2
         ...
         comando_n

- If-then-Else

    if (condição_lógica):
         comando_1
         comando_2
         ...
         comando_n
     else:
         comando_k1
         comando_k2
         ...
         comando_kn

Descubra o erro do programa abaixo

In [ ]:
# Exemplo de uso do comando if

a = 11
if (a > 0):
 print ("a é positivo ")

a é positivo

In [ ]:
# Exemplo  de uso do comando if
a = -1
if a > 0:
  print ("a é positivo ")
print("Identação é FUNDAMENTAL em Python")

Identação é FUNDAMENTAL em Python

In [ ]:
# Exemplo de uso do comando if-else
a = -34
if a > 0:
  print ("O valor de a é positivo")
else :
  print ("O valor de a não é positivo")

O valor de a não é positivo

In [ ]:
# Exemplo de uso do comando if-elif-else
a = 10
if a == 0:
 print ("a é zero ")
elif a < 0:
 print ("a é negativo ")
else :
 print ("a é positivo ")

a é positivo

In [ ]:
# Exemplo de uso de IF-ELIF

# atribuindo um valor qualquer a uma variavel

print(" entre com o valor de um número inteiro: ")
x = int(input())

# verificando o valor da variavel
if x<0:
  print('O valor eh negativo')
elif x<10:
  print('O valor eh menor que 10')
elif x<20:
  print('O valor eh menor que 20')
elif x<30:
  print('O valor eh menor que 30')
elif x<40:
  print('O valor eh menor que 40')
elif x<50:
  print('O valor eh menor que 50')
elif x<100:
  print('O valor eh menor que 100')
elif x<500:
  print('O valor eh menor que 500')
elif x<1000:
  print('O valor eh menor que 1000')
else:
  print('O valor eh maior ou igual a 1000')

 entre com o valor de um número inteiro:
50
O valor eh menor que 100

In [ ]:
# Exercício 20 

# Leia tres string

# Verifique se ao menos duas delas sao iguais entre si (imprima um aviso)
# ou se todas sao diferentes entre si (imprima outro aviso)

string1, string2, string3 = "Olá", "mundo", "!"

if(string1 == string2 or string1 == string3 or string2 == string3): 
  print('temos string iguais')
else: 
  print('sao todas diferentes')

sao todas diferentes

In [ ]:

# Exemplo de uso do comando if-else alinhado
a = -34
b = 10

if (a > 0):
  if (b >0):
   print ("O valor de a é positivo e valor de b é positivo")
  else:
   print ("O valor de a é positivo e valor de b não é positivo")
else :
  if (b> 0) :
   print ("O valor de a não é positivo e o valor de b é positivo")
  else :  
   print ("O valor de a não é positivo e o valor de b nao é positivo")

O valor de a não é positivo e o valor de b é positivo

In [ ]:
# Exercício 21 
# Implemente o programa anterior com if-elif-else

if (a > 0 and b >0):
   print ("O valor de a é positivo e valor de b é positivo")
elif(a > 0 and b <0):
   print ("O valor de a é positivo e valor de b não é positivo")
elif(a < 0 and b >0):
   print ("O valor de a não é positivo e o valor de b é positivo")
else:  
   print ("O valor de a não é positivo e o valor de b nao é positivo")

O valor de a não é positivo e o valor de b é positivo

### Programa Desafio 2
- Utilize o Programa Desafio 1 como base.
- solicite o Nome, Sexo, Peso e Altura.
- Calcule o IMC
- Dê o diagnóstivo:
  - Se for homem:
    - menor que 20 --> abaixo do peso
   - entre 20 e 25 --> normal
    - entre 25 e 30 --> sobrepeso
    - acima de 30  --> obesso
 
 - Se for mulher:
    - menor que 19 --> abaixo do peso
    - entre 19 e 24 --> normal
    - entre 24 e 29 --> sobrepeso
    - acima de 29  --> obesso


Exemplo:
 Maria, baseado no seu IMC, você está abaixo do peso.

In [ ]:
# Programa Desafio 1
# Escreva o código aqui código

nome = str(input("Por obséquio, forneça o seu nome? "))

sexo = str(input("Por obséquio, forneça o seu sexo? "))

peso = float(input("Se não for inoportuno, foneça o seu peso? Prometo menter essa informação em sigilo "))

altura = float(input("Qual é a sua altura? "))

# Cálculo do IMC
IMC = peso /altura**2

# Saída do programa
if(sexo == 'Masculino'):
  if(IMC<20): 
    print(nome + ', baseado no seu IMC, voce está abaixo do peso')
  elif(IMC>20 and IMC<=25) : 
    print(nome + ', baseado no seu IMC, voce está normal')
  elif(IMC>25 and IMC<30) : 
    print(nome + ', baseado no seu IMC, voce está sobrepeso')
  else: 
    print(nome + ', baseado no seu IMC, voce está Obeso')
else: 
  if(IMC<=19): 
    print(nome + ', baseado no seu IMC, voce está abaixo do peso')
  elif(IMC>19 and IMC<=24) : 
    print(nome + ', baseado no seu IMC, voce está normal')
  elif(IMC>25 and IMC<=29) : 
    print(nome + ', baseado no seu IMC, voce está sobrepeso')
  else: 
    print(nome + ', baseado no seu IMC, voce está Obeso')

Por obséquio, forneça o seu nome? vitoria
Por obséquio, forneça o seu sexo? Feminino
Se não for inoportuno, foneça o seu peso? Prometo menter essa informação em sigilo 62
Qual é a sua altura? 1.65
vitoria, baseado no seu IMC, voce está normal

##  Comando de repetição (loops)
- Comando for

    for (variavel) in (sequencia):
       comando_1
       comando_2
       ...
       comando_n
- Comando while
    
    while (condicao):
       comando_1
       comando_2
       ...
       comando_n

### Nota:
 - O comando for é usado para percorrer uma sequência qualquer.

In [ ]:
# Exemplo de uso do comando for
for letter in "banana":
   print(letter)

b
a
n
a
n
a

- Também podemos percorrer um intervalo numerico com o range.

In [ ]:
# Exemplo de uso do comando for

for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Exemplo de uso do comando for

for x in range(5, 15):
  print('O numero é ' + str(x))

O numero é 5
O numero é 6
O numero é 7
O numero é 8
O numero é 9
O numero é 10
O numero é 11
O numero é 12
O numero é 13
O numero é 14

In [ ]:
# Exercício 21 
# Implemente um laco que imprima a tabuada de um número

print(" entre com um número inteiro positivo: ")
base = int(input())

tabuada = []
# Escreve o restante do código utilizando o comendo for
for number in range(10): 
  tabuada.append(number * base)

print('a sequencia da tabuada e: ', tabuada)

 entre com um número inteiro positivo:
9
a sequencia da tabuada e:  [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
# Exemplo - uso do comando for

print("O range() pode ter o passo entre os elementos especificados.")
print( "Neste exemplo, o passo é 10")

for y in range(0, 100, 10):
  print('O numero eh ' + str(y))

O range() pode ter o passo entre os elementos especificados.
Neste exemplo, o passo é 10
O numero eh 0
O numero eh 10
O numero eh 20
O numero eh 30
O numero eh 40
O numero eh 50
O numero eh 60
O numero eh 70
O numero eh 80
O numero eh 90

In [ ]:
# Exercíco 22 

# Implemente um laco que exiba os multiplos de 5 entre 0 e 50 (inclusive)
multiplos = []
for x in range(0, 51, 5):
  multiplos.append(x)
print('os multiplos sao:', multiplos)

os multiplos sao: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# Exemplos de uso do comando for
print("Primeiro print")
for i in range(2,5):
    print(i)
print("Segundo print")
for i in range(5):
    print(i)
print("Terceiro print")
lista = ["p", "y", "t", "h", "o", "n"]
for item in lista:
    print (item, end=' ')

Primeiro print
2
3
4
Segundo print
0
1
2
3
4
Terceiro print
p y t h o n

In [ ]:
# Exemplo de uso do comando for
for x in [1,2,6]:
 print(x)

1
2
6

In [ ]:
# Exemplo de uso do comando for
print("Uso do enumerate para se obter índice numérico")
for indice, valor in enumerate(["p", "y", "t", "h", "o", "n"]):
    print (indice, valor)

Uso do enumerate para se obter índice numérico
0 p
1 y
2 t
3 h
4 o
5 n

In [ ]:
#Exemplo - É possível implementar do comando "for" via lista
lista1 = [x**2 for x in range(0,5)]
print(lista1)

[0, 1, 4, 9, 16]

In [ ]:
#Exemplo - É possível implementar do comando "for" via lista
lista2 = [True, "2", 3.0, 4]
[type(item) for item in lista2]

[bool, str, float, int]

### Nota:
-É possivel encadear um laco dentro de outro (sem limites).

In [ ]:
# Exemplo for encadeado

for a in range(0,10):
  print("O valor de a é: " + str(a))
  for b in range(0,5):
    print(" \t O valor de b é: " + str(b))

O valor de a é: 0
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 1
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 2
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 3
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 4
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 5
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 6
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 7
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 8
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4
O valor de a é: 9
 	 O valor de b é: 0
 	 O valor de b é: 1
 	 O valor de b é: 2
 	 O valor de b é: 3
 	 O valor de b é: 4

In [ ]:
# Exemplo de uso do comando while
count = 0
while count <= 5:
    print(count)
    count += 1

0
1
2
3
4
5

In [ ]:
# Exemplo de uso do comando while com break
count = 0
while count <= 5:
    print(count)
    count += 1
    if count > 3: break

0
1
2
3

In [ ]:
# Comando else no final de um loop é executado após o término do loop
#
# Loop while
#
count = 0
while count <= 5:
    print(count)
    count += 1
    if(count == 3):break
else:
    print('após iteração')

#
# Loop for
#
for i in range(5):
    print(i)
else:
    print('após iteração')

0
1
2
0
1
2
3
4
após iteração

## Definição de Função em Python
    
    def funcao(lista_parametros):
       comando_1
       comando_2
       ...
       comando_n
       return(variavel_de_saida)

### Função:
- função sem valor de retorno - procedimento

In [ ]:
# exemplo de função sem retorno de variáveis

def hello(meu_nome):
  print('Olá,',meu_nome, "kkk")

In [ ]:
hello("John Snow. You know nothing!")

Olá, John Snow. You know nothing! kkk

### Função:
- Uso de parâmetros Defaults

In [ ]:
def hello(meu_nome,idade=10):
  print('Olá, ',meu_nome,'\nSua idade é:',idade)

In [ ]:
hello("João da Silva", 21)

Olá,  João da Silva
Sua idade é: 21

In [ ]:
hello("João da Silva")

Olá,  João da Silva
Sua idade é: 10

In [ ]:
# Exercíco - Reescreva a função hello(), acrescentando o parâmetro default altura = 1.73
def hello(meu_nome, idade=10, altura=1.73):
  print('Olá, ',meu_nome,'\nSua idade é:',idade, '\nSua altura é: ', altura)

In [ ]:
hello("João da Silva")

Olá,  João da Silva
Sua idade é: 10
Sua altura é:  1.73

### Função:
- função com valor de retorno

In [ ]:
# Exemplo de função com valor de retorno
def calcular_pagamento(horas, taxa):
 salario=float(horas)*float(taxa)
 return (salario)

In [ ]:
total_salario = calcular_pagamento(40,20)
print('O valor de seus rendimentos é R$',total_salario)

O valor de seus rendimentos é R$ 800.0

In [ ]:
str_horas= input('Digite as horas: ')
str_taxa=input('Digite a taxa: ')

Digite as horas: 40
Digite a taxa: 12

In [ ]:
print(str_horas)
print(str_taxa)
float_horas = float(str_horas)
float_taxa = float(str_taxa)

40
12

In [ ]:
print(float_horas)
print(float_taxa)
total_salario = calcular_pagamento(float_horas,float_taxa)
print('O valor de seus rendimentos é R$',total_salario)

40.0
12.0
O valor de seus rendimentos é R$ 480.0

In [ ]:
# Segunda versão da função calculo_pagamento
def calcular_pagamento(qtd_horas, valor_hora):
    horas = float(qtd_horas)
    taxa = float(valor_hora)
    if horas <= 40:
        salario=horas*taxa
    else:
        h_excd = horas - 40
        salario = 40*taxa+(h_excd*(1.5*taxa))
    return (salario)

In [ ]:
calcular_pagamento(20,20)

400.0

### Função:
- Como ficam as variáveis definidas dentro de uma função?

In [ ]:
# Exemplo de comportamento de variáveis definidas dentro de função
def f():
  x = 10
  print(x)

In [ ]:
x = 100
f()
print(x)

10
100

In [ ]:
# Exemplo de comportamento de variáveis definidas dentro de função
def f(x):
  x = 10
  print(x)

In [ ]:
x = 100
f(x)
print(x)

10
100

### Função:
- Como utilizar uma variável externa dentro da função?

In [ ]:
# Exemplo de comportamento de variáveis definidas dentro de função
# Como utilizar uma variável externa dentro de uma função

def f():
  global x
  x = 10
  print(x)

In [ ]:
x = 100
f(x)
print(x)
print("Ufa. deu certo.")

10
100
Ufa. deu certo.

### Função:
- É possível uma função retornar mais de uma variável?

In [ ]:
# Exemplo de função - retorno mais de uma variável
print("Programa com exemplo para função que retorna mais de uma variável.")
def powers(x):
 #Retorna o quadrado, o cubo e a quarta potência de um dado número x."""
 return x ** 2, x ** 3, x ** 4
print(powers(2))
x2, x3, x4 = powers(3)
print("x2=",x2," x3=",x3,"x4=", x4)

Programa com exemplo para função que retorna mais de uma variável.
(4, 8, 16)
x2= 9  x3= 27 x4= 81

### Lembrete:
- Não se esqueça, na definição de uma função, podemos dar defaults nos argumentos da função

In [ ]:
# Exemplo de função - Valores Default em função

print("Exemplo de uso de função com parámetros 'default'")

def myfunc(x, p=2, debug=False):
  if debug:
   print("Mensagem do módulo debug da função myfunc para x = " + str(x) + " elevado " + str(p))
  return x**p

print(myfunc(5))
print(myfunc(5, debug=True))
print(myfunc(p=3, debug=True, x=5))
print(myfunc(5, 3))
print(myfunc(5, 3, True))
print(myfunc(5, 3, False))

Exemplo de uso de função com parámetros 'default'
25
Mensagem do módulo debug da função myfunc para x = 5 elevado 2
25
Mensagem do módulo debug da função myfunc para x = 5 elevado 3
125
125
Mensagem do módulo debug da função myfunc para x = 5 elevado 3
125
125

### Aspectos Avançados:
Em Python, também podemos criar funções sem nome, usando a palavra-chave lambda:

- nome_da_funcao  = lambda <parametro>: comandos

In [ ]:
# Exemplo de uso de função sem nome - Lambda Function
# f1 e f2 são equivalentes

f1 = lambda x: x**2


def f2(x):
 return x**2

In [ ]:
f1(2), f2(2)

(4, 4)

### Nota:
Esta técnica é útil, por exemplo, quando queremos passar uma única função como um argumento para outra Função.

Considere a função map(f, s), que aplica a função f para todos os elementos da sequência s.

In [ ]:
# Exemplo de uso da função map(),que retorna um objeto genérico
def f(x):
    return (x ** 2)
lista2 = map(f, range (-3,4))
list(lista2)

[9, 4, 1, 0, 1, 4, 9]

In [ ]:
# Exemplo de uso da função map() com função anônima - lambda
lista3 = map(lambda x: x**2, range(-3,4))
list(lista3)

[9, 4, 1, 0, 1, 4, 9]

## Classes e Objetos em Python:

- As classes são as principais características da programação orientada a objetos. 
- Uma classe é uma estrutura para representar um objeto e as operações que podem ser realizadas sobre ele. Assim, uma classe pode conter atributos (variáveis) e métodos (funções).
- Uma classe é definida quase como uma função, mas usando a palavra-chave  "classe".
- A definição da classe geralmente contém uma série de método de classe (uma função em uma classe).
- Cada método de classe deve ter um argumento denominado de "self" como primeiro argumento. Isto é uma auto-referência ao objeto.
- Alguns nomes de métodos de classe têm um significado especial, por exemplo:
    - _init_: construtor da classe - O nome do método que é invocado quando o primeiro objeto é criado.
    - _str_: Um método que é invocado quando uma representação de uma string da classe é necessária, como, por exemplo, quando deseja-se usar um print().

## Classes - Estrutura Básica

class Nome_da_Classe (Classe_Pai):
            atributo_1
            ...
            atributo_n
            
            # ----- método construtor  -----
            def _init_(self, par1, par2, ...):
            
            #  ---- outros métodos    -------
            
            def metodo_1(self, par1, ...):
                 ...
            
            def metodo_m(self, parX, ...):

###  Usando a Classe
 - Neste caso, usa-se a prórpia classe

In [ ]:
# Exemplo de Classe

# Definição da Classe Carro
# A classe Pai é Object - no caso pode ser omitida
# estado é um atributo da classe Carro

class Carro(object):
   estado = "novo" 

print(Carro.estado)

Carro.estado = "usado"

print(Carro.estado)

Carro.estado = "muito velho"

print(Carro.estado)

novo
usado
muito velho

###  Usando a Classe
 - Neste caso, usa-se uma instância (objeto) da classe

In [ ]:
# Exemplo de Classe e Objeto

# Classe Carro

class Carro(object):
    # listas de características
    estado = "novo"
    cor = "branco"
    

    def usar(self):
        self.estado = "usado"

    def pintar(self):
        self.cor = "Bege"
       
meu_fusca = Carro()   # criação do objeto meu_fusca da classe Carro

chevete_da_bel = Carro()
mustang_da_veronica = Carro()

print(meu_fusca.estado) 
meu_fusca.usar()
print(meu_fusca.estado) 

print(chevete_da_bel.cor) 
chevete_da_bel.pintar()
print(chevete_da_bel.cor)

novo
usado
branco
Bege

### Dúvida:
O que ocorreria se não se usar a referência self no método usar()?

### Exercício:
- Inclua o atributo cor na classe Carro, com valor inicial "branco"
- implemente os métodos
    -  cor pegaCor() 
    - pintaCarro("cor")

In [ ]:
# Exemplo de Classe e Objeto
# Implemente o atributo cor
# implemente os métodos pegaCor() e pintaCarro(cor)


# Classe Carro

class Carro(object):
    
    estado = "novo"
    cor = "branco"
   
    def usar(self):
        self.estado = "usado"

    def pegaCor(self):
        return(self.cor)
    
    def pintaCarro(self,nova_cor):
        self.cor = nova_cor
       
meu_fusca = Carro()   # criação do objeto meu_fusca da classe Carro

print(meu_fusca.estado) 
meu_fusca.usar()
print(meu_fusca.estado)

print("A cor do carro é: ", meu_fusca.pegaCor())

meu_fusca.pintaCarro("Azul")
print("A cor do carro é: ", meu_fusca.pegaCor())

novo
usado
A cor do carro é:  branco
A cor do carro é:  Azul

### Classe - Usando o método construtor __init__(self, ...)

In [ ]:
class Carro(object):
    def __init__(self, estado):
        self.estado = estado

bmw = Carro('semi-novo')
print(bmw.estado)

semi-novo

### Exercício
Implemente a classe Carro com 03 métodos construtor
- __init(self)
- __init(self, estado)
- __init(self, estado, cor)

- crie um fusca sem cor e estado
- crie um opala branco usado
- crie uma ferrari vermelha nova

In [ ]:
# Exemplo de Classe e Objeto
# Impleme os 03 métodos construtures



# Classe Carro

class Carro(object):
    
    #estado = "kkk"
    
    #  --- primeiro método construtor  ------
    def __init__(self):
        self.estado = "novo"
        self.cor = "branco"

    # --- segundo método construtor  -------
    def __init__(self, estado):
        self.estado = estado
    
    #  --- terceiro método construtor  ------
    def __init__(self, estado, cor):
        self.estado = estado
        self.cor = cor
    
    
    # --- outros métodos  ----
    
    def pegarCor(self):
        return(self.cor)
    
    def usar(self):
        self.estado = "novo"
            
    def pintarCarro(self, cor):
        self.cor = cor

        
        
       
meu_fusca = Carro('sem estado', 'sem cor')   # criação do objeto meu_fusca da classe Carro
print('meu fusca é: ', meu_fusca.estado, 'e', meu_fusca.cor) 

meu_opala = Carro('usado', 'branco')
print('meu opala é: ', meu_opala.estado, 'e', meu_opala.cor) 

minha_ferrari = Carro('novo','vermelho')
minha_ferrari.usar()
minha_ferrari.pintarCarro("vermelho")
print('minha ferrari é: ', minha_ferrari.estado, 'e', minha_ferrari.pegarCor()) 

# - complete o programa usando a Ferrari e pintando

meu fusca é:  sem estado e sem cor
meu opala é:  usado e branco
meu ferrari é:  novo e vermelho

### Classe - Criando herança de classes

In [ ]:
# -- Classe Taxi, derivada da Classe Carro
# ---- Herda todos os atributos e métodos da Classe Pai

class Carro_de_Aplicativo(Carro):
 tipo = "uber"
  
carro1 = Carro_de_Aplicativo('novo', 'vermelho') 
print(carro1.estado)
print(carro1.tipo)

novo
uber

### Outro exemplo de uso de Classe e Objetos

In [ ]:
# Criação da Classe Ponto
class Ponto:  
 def __init__(self, x, y):
  self.x = x
  self.y = y
 
 def translacao(self, dx, dy):
  self.x += dx
  self.y += dy

 def rotacao(self, angulo_em_radiano):
        # Realiza a rotação do ponto em torno da origem, usando as fórmulas de rotação em 2D
   x_rot = self.x * math.cos(angulo_em_radiano) - self.y * math.sin(angulo_em_radiano)
   y_rot = self.x * math.sin(angulo_em_radiano) + self.y * math.cos(angulo_em_radiano)
   self.x = x_rot
   self.y = y_rot
    

 def distancia(self, ponto1):
        # Calcula a distância entre este ponto e outro ponto dado (ponto1)
   dx = self.x - ponto1.x
   dy = self.y - ponto1.y
   distancia = math.sqrt(dx**2 + dy**2)
   return distancia

 def __str__(self):
  return("O ponto está no posição [%f, %f]" % (self.x, self.y))

In [ ]:
# Criação de um objeto p1 da classe Ponto 
p1 = Ponto(0, 0) 
print(p1)

O ponto está no posição [0.000000, 0.000000]

In [ ]:
p2 = Ponto(1, 1)
p1.translacao(0.25, 1.5)
print(p1)
print(p2)
print(p1.x, p1.y)
print(p2.x, p2.y)

O ponto está no posição [0.250000, 1.500000]
O ponto está no posição [1.000000, 1.000000]
0.25 1.5
1 1

In [ ]:
# Exercício - inclua os seguintes métodos na Classe Ponto
# rotacao(angulo_em_radiano), sem retorno
# distancia(Ponto ponto1), retorna a distância do ponto dado (parâmetro) ao ponto

### Exemplo de Uso de Classe e Objetos:
Defina uma classe denominada Pessoa, com os atributos:
- Nome, Idade

E os métodos:
- setNome(nome)
- setIdade(idade)
- getNome()
- getIdade()

In [ ]:
# Definição da classe Pessoa

class pessoa:  
  def __init__(self, nome='', idade=0):
   self.nome = nome
   self.idade = idade


  def setNome(self, nome): 
    self.nome = nome
  
  def setIdade(self, idade): 
    self.idade = idade

  def getNome(self): 
    return self.nome

  def getIdade(self):
    return self.idade

p = pessoa()
p.setNome("Thiago")
p.setIdade(25)
print(p.getNome())    
print(p.getIdade())

Thiago
25

### Exercício
- Implemente a Classe Motorista como extensão da classe Pessoa com o atributo Carro
  - Um Motorista é uma Pessoa que tem um Carro

In [ ]:
# Definição da Classe Motorista

class Motorista(pessoa):
    def __init__(self, nome, idade):
        super().__init__(nome, idade)
        self.carro = {'marca': 'gol' , 'cor': 'azul' , 'condicao': 'usado'}

motorista1 = Motorista("maria", 25)

print(motorista1.nome)    # output: João
print(motorista1.idade)   # output: 30
print(motorista1.carro['marca'])    # output: Fiat
print(motorista1.carro['cor'])

maria
25
gol
azul

In [ ]:
# Programa que cria um objeto do tipo Motorista
# Nome: Maria
# Idade: 25
# carro: Gol, Azul, Usado

## Tipo de Dado Dicionário em Python

- Dicionário é um tipo de coleção, como lista, porém poderem usar qualquer tipo imutavel de dados como indice.Isto é feito a partir de uma chave, que pode ser qualquer tipo imutável, para um valor, que pode ser qualquer objeto de dados do Python.
- Uma maneira de criar um dicionario é comecando com um dicionário vazio e depois adiconar elementos. Um dicionário vazio é denotado assim {}:

In [1]:
# Exemplo: dicionário de Portugues para Ingles

por_Para_ing = {}    # início do dicionário
por_Para_ing['um'] = 'one'
por_Para_ing['dois'] = 'two'
por_Para_ing

{'um': 'one', 'dois': 'two'}

In [2]:
por_Para_ing['um']

'one'

In [3]:
por_Para_ing['três'] = 'three'
por_Para_ing

{'um': 'one', 'dois': 'two', 'três': 'three'}

In [12]:
# Exemplo: dicionário de Portugues para Ingles
ing_Para_por = {'one': 'um', 'two': 'dois', 'three': 'três'}
ing_Para_por

{'one': 'um', 'two': 'dois', 'three': 'três'}

In [13]:
# Comandos
# Remove um par chave-valor de um dicionário
del ing_Para_por['three']      
ing_Para_por

{'one': 'um', 'two': 'dois'}

In [15]:
#Retorna a quantidade de itens
tamanho = len(ing_Para_por)
print(tamanho)

2

### Lembrete:
Dicionários possuem vários métodos nativos úteis.

    - keys()  	 	Retorna uma vista das chaves no dicionário
    - values()  	Retorna uma vista dos valores no dicionário
    - items() 	  Retorna uma vista dos pares chave-valor no dicionário
    - get(key) 	  Retorna o valor associado com a chave; ou None
    - items()     Retorna os dois valores, na forma de uma lista de tuplas - cada tupla com um par chave-valor

In [17]:
por_Para_ing.keys()

dict_keys(['um', 'dois', 'três'])

In [18]:
por_Para_ing.values()

dict_values(['one', 'two', 'three'])

In [19]:
por_Para_ing.get('um')

'one'

In [20]:
# Exemplo de uso de dicionários
inventario = {'abacaxis': 430, 'bananas': 312, 'laranjas': 525, 'peras': 217}

In [21]:
inventario

{'abacaxis': 430, 'bananas': 312, 'laranjas': 525, 'peras': 217}

In [22]:
inventario['bananas'] = 311

In [23]:
inventario

{'abacaxis': 430, 'bananas': 311, 'laranjas': 525, 'peras': 217}

In [24]:
# Exemplo de uso de Dicionário
aluno = {
    "nome": "joao",
    "matricula": 2015200101,
    "idade": 39,
    "habilidades": ['python', 'java', 'c/c++']
}

In [25]:
print(aluno['nome'])
print(aluno['idade'])
print (aluno['habilidades'])

joao
39
['python', 'java', 'c/c++']

## Criação de Módulo em Python

- Um dos conceitos mais importantes na boa programação é reutilizar o código e evitar repetições.
- A idéia é escrever funções e classes com um propósito e um escopo bem definidos e reutilizá-los em vez de repetir código similar em uma parte diferente de um programa (programação modular). O resultado é geralmente que a legibilidade e a manutenção de um programa são muito melhoradas. O que isso significa na prática é que nossos programas têm menos erros, são mais fáceis de estender e depurar / solucionar problemas.
- O Python suporta programação modular em diferentes níveis. Funções e classes são exemplos de ferramentas para programação modular de baixo nível. Os módulos Python são uma construção de programação modular de nível superior, onde podemos coletar variáveis, funções e classes relacionadas em um módulo.
- Um módulo python é definido em um arquivo python (com o ponto final do arquivo .py) e pode ser acessível a outros módulos e programas Python usando a instrução import.

# Este Notebook está em constante construção
data: 25-01-2021.